header {
  background-color:#81ABD6; 
  color:#f7f7f7; 
  text-align:center;
  margin:0;
  border:0;
  padding:5px;
    
}

body {
  color:#1D3B59; 
  background-color:#f7f7f7; 
  text-align:left;
  margin:0;
  border:0;
  padding:0px;
  display:flex; 
  flex-flow:column wrap;
}

img {
   width:50%;
   margin-left:60px
   margin-right:10px
} 

h1 {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif; 
}

h2 {
  font-size: 3vw;
  font-family: "Montserrat", sans-serif; 
}

h3 {
  font-size: 2vw;
  font-family: "Montserrat", sans-serif; 
}

p {
  font-size: 1vw;
  font-family: "Montserrat", sans-serif; 
  padding:0;
  display:flex; 
  flex-flow:column wrap;
}

il {
  font-size: 1vw;
  font-family: "Montserrat", sans-serif; 
  padding:0;
  display:flex; 
  flex-flow:column wrap;
}

.spectxt {
  padding:0;
  display:flex; 
  flex-flow:column wrap;
}

@media (max-width:800px){
  
}
